# Sesion 5

## Ejemplo 1 Polimorfismo

In [1]:
class Punto:
    def __init__(self,x = 0,y = 0):
        self.x = x
        self.y = y
    def __add__(self,other):
        x = self.x + other.x
        y = self.y + other.y
        return x, y

In [2]:
punto1 = Punto(4,6)
punto2 = Punto(1,-2)
print (punto1 + punto2)

(5, 4)

## Ejemplo 2 Decoradores

class Producto:
    def __init__(self, nombre, precio_unitario, cantidad):
        self.nombre = nombre
        self.precio_unitario = precio_unitario
        self.cantidad = cantidad

    @property
    def subtotal(self):
        return self.precio_unitario * self.cantidad

    def __str__(self):
        return self.nombre


def main():
    producto_uno = Producto("Alcohol", 750,  3)
    producto_dos = Producto("Coca", 250 , 5)

    print(producto_uno, producto_uno.subtotal)
    print(producto_dos, producto_dos.subtotal)


if __name__ == "__main__":
    main()

## Ejemplo 3 Manejo de errores y excepciones

Usualmente, cuando se produce un error durante el tiempo de ejecución el programa se detiene imprimiendo en la terminal el tipo de error.

Por ejemplo si tratamos de dividir entre 0, nos arroja el siguiente error

In [3]:
a = 4
b = 0

try:
    c = a/b
    print ("El resultado de la división es {}".format(c))
except:
    print("No puedes dividir entre 0")

No puedes dividir entre 0



Si se requiere tomar distintas medidas en caso de que haya distintos tipos de errores posibles, se pueden especificar en distintos except.

En el siguiente ejemplo el último except maneja errore que no se han definido anteriormente.

In [4]:
#Se pueden definir distintas medidas a tomar para distinto tipo de error
try:
    c = a/x
except NameError:
    print("Alguna variable no fue definida")
except ZeroDivisionError:
    print("No puedes dividir entre 0")
except: #Si se cae en un error no definido anteriormente
    print("Ocurrió otro error")

Alguna variable no fue definida

## Ejemplo 5

In [1]:
import sqlite3

In [3]:
def sql_connection(db_name):

    try:
        conection = sqlite3.connect(db_name)
    except sqlite3.Error:
        print("Error")
        sys.exit(1)
        
    cur = conection.cursor()

    return (conection, cur)

In [36]:
def sql_table(con, cur, nombre_tabla, columnas):
    """
    Crea una tabla con nombre en la base de datos
    """

    sql = f'DROP TABLE IF EXISTS {nombre_tabla};'
    cur.execute(sql)
    con.commit()
    
    lista_columnas = []

    for columna, tipo in columnas:
        lista_columnas.append(columna + " " + tipo)


    sql = f"CREATE TABLE {nombre_tabla} (id integer PRIMARY KEY, {','.join(lista_columnas)})"
    cur.execute(sql)
    con.commit()

In [32]:
def sql_insert(con, cur, tabla, columnas, entities):

    nombres_columna = []

    for columna, _ in columnas:
        nombres_columna.append(columna)

    sql = f'INSERT INTO {tabla}(id, {",".join(nombres_columna)}) VALUES{entities}'

    cur.execute(sql)    
    con.commit()

In [130]:
def sql_fetch(con, cur, table_name):

    sql = f'pragma table_info({table_name});'  
    cur.execute(sql)
    columnas = cur.fetchall()
    
    columnas_name = []
    for columna in columnas:
        columnas_name.append(columna[1])

    row1 = ""
    row2 = ""
    row3 = ""

    espacios = 2

    for name in columnas_name:
        row1 += "+" + "-" * (len(name) + (len(name) * espacios) )
        row2 += "| " + name + (" " * (len(name) * espacios - 1))
    
    print(row1)
    print(row2)
    print(row1)

    sql = f'SELECT * FROM {table_name};'
    cur.execute(sql)
    rows = cur.fetchall()

    for row in rows:
        row3 = ""
        for indice, value in enumerate(row):
            row3 += "| " + str(value) + " " * ((len(columnas_name[indice]) + (len(columnas_name[indice]) * espacios - 1)) - len(str(value)))
        print(row3)
    print(row1)

In [102]:
DB_NAME = 'db.sqlite3'

In [131]:
con, cur = sql_connection(DB_NAME)

table_name = "product"
columnas = [("name", "text"), ("salary", "real"), ("department" ,"text"), ("position" ,"text"), ("hireDate", "text")]
entities1 = (1, 'Andrew', 800, 'IT', 'Tech', '2018-02-06')
entities2 = (2, 'Omar', 200, 'IT', 'Design', '2018-02-02')
sql_table(con, cur, table_name, columnas)
sql_insert(con, cur, table_name, columnas,  entities1)
sql_insert(con, cur, table_name, columnas,  entities2)
sql_fetch(con, cur, table_name)

cur.close()
con.close()

+------+------------+------------------+------------------------------+------------------------+------------------------
| id   | name       | salary           | department                   | position               | hireDate
+------+------------+------------------+------------------------------+------------------------+------------------------
| 1    | Andrew     | 800.0            | IT                           | Tech                   | 2018-02-06
| 2    | Omar       | 200.0            | IT                           | Design                 | 2018-02-02
+------+------------+------------------+------------------------------+------------------------+------------------------