# Sesión 2

## Ejemplo 1

### Listas

Las listas son estructuras de datos que permiten almacenar una serie de distinto tipo y acceder a ellas por índice (o en orden).

Formas de declarar una lista vacia

In [2]:
lista_vacia = [] #Dentro de los corchetes se especifican los datos
lista_vacia2 = list() #Usando La función list

Las listas pueden inicializarse con datos

In [3]:
lista_int = [1, 2, 3, 4, 5]
lista_fl = [1.4, 3.1415, 2.12, 12.7, 0.22]
lista_str = ['hola','mundo','!']
print(lista_fl)

[1.4, 3.1415, 2.12, 12.7, 0.22]

Las listas pueden contener datos de distinto tipo, o otras listas

Las listas pueden contener datos de distinto tipo

In [4]:
lista_mix = [1, 1.4, "hola"]

O incluso otras listas

In [5]:
listas = [lista_int,lista_str,lista_fl]

Se pueden realizar distintos tipos de operaciones con las listas

#### Operaciones con listas

In [7]:

numeros = [1,2,3,4,5]

Acceso por indice

In [8]:
dato = numeros[2]

Obtener porciones de lista

In [9]:
sublista = numeros[1:3]

Agregar elementos a la lista

In [10]:
numeros.append(100)

In [11]:
numeros

[1, 2, 3, 4, 5, 100]

Insertar numeros en la lista

In [12]:

numeros.insert(2,'python')

Tomar elementos de lista

In [13]:
dato = numeros.pop(2)

Convertir a lista una cadena

In [14]:
l3 = list("abc123")

In [15]:
l3

['a', 'b', 'c', '1', '2', '3']

Podemos unir una lista de strings con "".join()

In [16]:
"".join(l3)

'abc123'

## Reto 1


    Declara una lista que contenga por elementos los nombres de alumnos de un curso (minimo 5)
    Usa sort() para ordenar a los alumnos
    Imprime el nombre del primer alumno
    Inscribe un nuevo alumno en el curso(lo cuál puede alterar el orden)

In [20]:
nombres = []

cantidad = int(input("¿Cuantos alumnos seran (minimo 5) "))

for i in range(cantidad):
    nombres.append(input(f"Dame el nombre {i}"))

print(nombres[0])

nombres.append("Juan")
print(nombres)

Juan
['Juan', 'Alfredo', 'Juan']

## Ejemplo 2

### Tuplas

Las tuplas son estructuras de datos similares a las listas, pero que se caracterizan por ser inmutables.

Creando una tupla vacia

In [21]:
t1 = ()
t2 = tuple()

Tupla de un elemento

In [22]:
t3 = (1, )  # Sin la coma no se detecta como tupla

Se pueden asignar de forma simultanea los valores de una tupla a variables.

Asignacion multiple con tupla

In [23]:
a, b = (10, 20)

Las tuplas son inmutables, por lo que el intentar modificarlas es causa de error.

No se puede modificar una tupla, quitar comentarios para comprobar

In [27]:
try:
    t1.insert(0, 1)
    t1.append(10)
except:
    print("No se puede agregar datos a una tupla")

No se puede agregar datos a una tupla

Pero si podemos acceder a los valores almacenados

In [25]:
a = t3[0]

In [28]:
t = (1)

In [29]:
type(t)

int

In [30]:
t = (1,)

In [31]:
type(t)

tuple

O convertir a listas, las cuales si se pueden modificar

In [32]:
l1 = list(t3)

In [33]:
l1

[1]

In [37]:
# 1. Imprimir la lista de opciones en la pantalla

menu = (
    (1, "Helado con oreo"),
    (2, "Helado con m&m"),
    (3, "Helado con fresas"),
    (4, "Helado con brownie")
)

print("-------------")
print(f"{menu[0][0]}. {menu[0][1]}")
print(f"{menu[1][0]}. {menu[1][1]}")
print(f"{menu[2][0]}. {menu[2][1]}")
print(f"{menu[3][0]}. {menu[3][1]}")
print("-------------")

sabores = []
nombre_helados = []

cantidad = int(input("¿Cuantos helados serían? "))

for i in range(cantidad): 
    sabor = input(f"¿De que sabor sería el helado {i+1}? ")
    nombre_helados.append(sabor)
    if sabor.lower() == 'oreo':
        sabores.append(19)
    elif sabor.lower() == 'm&m':
        sabores.append(19)
    elif sabor.lower() == 'fresas':
        sabores.append(19)
    elif sabor.lower() == 'brownie':
        sabores.append(19)
    else:
        print("No tenemos de ese sabor")
        nombre_helados.pop()
    
total = sum(sabores)     
    
print(f"El total de {cantidad} helados de {', '.join(nombre_helados)}es de $ {total}")

-------------
1. Helado con oreo
2. Helado con m&m
3. Helado con fresas
4. Helado con brownie
-------------
El total de 3 helados de Oreo, fresas, browniees de $ 57

## Ejemplo 3

### Conjuntos

Los conjuntos o sets, son colecciones no mutables y no ordenadas, utilizadas principalmente en operaciones de lógica y matemática.

In [38]:
s1 = set()

s1 = {1, 2, 4, 5}

In [39]:
s1

{1, 2, 4, 5}

Agregar elementos a un set

In [45]:
s1.add(3)

Los datos en un set no se pueden repetir
Agregar elementos a un set

In [41]:
s1.add(3) #No agrega un nuevo elemento

In [42]:
s1

{1, 2, 3, 4, 5}

Quitar elementos

In [43]:
s1.remove(3)

In [44]:
s1

{1, 2, 4, 5}

Se pueden realizar operaciones de conjuntos

In [46]:
s2 = {4, 5, 6, 7, 8}
print(s1 & s2) # Union 
print(s1.intersection(s2))  # Interseccion

{4, 5}
{4, 5}

In [50]:
libros = (
    "El señor de los anillos",
    "El árte de la guerra",
    "Spiderman",
    "Avengers",
    "El árte de la guerra",
    "Spiderman"
)

c_libros = set(libros)
#ordenando

l_libros = list(c_libros)
l_libros.sort()

texto = "\n".join(l_libros)

print(texto)

Avengers
El señor de los anillos
El árte de la guerra
Spiderman

## Ejemplo 3

Los diccionarios son estructuras de datos que nos permiten almacenar datos, asignandolas a llaves.

El acceso a los diccionarios debe realizarse mediante las llaves, no permiten realizarlo por índice.

Declarar diccionarios

In [1]:
d1 = {}
d2 = dict()

Crear diccionario con datos

In [4]:
d3 = {"Usuario": "usser123", "Correo": "us12@bedu.org", "Compañia": "Bedu"}

Se pueden obtener las llaves en una lista

In [2]:
d3.keys()

dict_keys(['Usuario', 'Correo', 'Compañia'])

Se pueden obtener los valores en una lista

In [3]:
d3.values() # Lista de valores

dict_values(['usser123', 'us12@bedu.org', 'Bedu'])

Se pueden agregar entradas en un diccionario

In [5]:
d3['ciudad']= "CDMX"

Se puede acceder a los valores del diccionario usando su llave

In [6]:
print(d3['ciudad'])

CDMX

Tambien podemos extraer datos usando pop

In [7]:
a = d3.pop('ciudad')

In [ ]:
zodiaco = {
    "Aries": ["Sagitario", "Leo"]
}

## Reto 4

Haz un programa que funcione como un directorio de números telefonicos

# Ejemplo 5

Ciclos

Los ciclos son estructuras que nos permiten hacer que durante la ejecución de un programa, fracciones de código se repitan bajo ciertas condiciones.

Los ciclos while repiten el código que se encuentra en su interior mientras se cumpla una condicion

In [1]:
i = 1
while i <= 5:
    print(i)
    i += 1
print("Programa terminado")

1
2
3
4
5
Programa terminado

Se pueden usar ciclos for acompañados de range para repetir el interior n veces

In [2]:
for i in range (5):
    print(i)
print("Fin del ciclo")

0
1
2
3
4
Fin del ciclo

En python, los ciclos for nos permiten recorrer estructuras de datos iterables Por ejemplo listas

In [3]:
animales = ['gato', 'perro', 'serpiente']
for animal in animales:
    print ("El animal es: {0}, tamaño de palabra es: {1}".format(animal, len(animal)))

El animal es: gato, tamaño de palabra es: 4
El animal es: perro, tamaño de palabra es: 5
El animal es: serpiente, tamaño de palabra es: 9

Para diccionarios podemos obtener las llaves y valores y luego recorrerlos

In [4]:
d3 = {"Usuario": "usser123", "Correo": "us12@bedu.org", "Compañia": "Bedu"}

In [5]:
llaves = d3.keys()
valores = d3.values()
cantidad_datos = d3.items()

In [6]:
for campo, valor in cantidad_datos:
    print("el campo {} contiene: {}".format(campo, valor))

el campo Usuario contiene: usser123
el campo Correo contiene: us12@bedu.org
el campo Compañia contiene: Bedu

In [7]:
list(range(5))

[0, 1, 2, 3, 4]

In [8]:
type(range(5))

range

In [10]:
numeros = iter(list(range(5)))

In [16]:
next(numeros)

StopIteration:

Crear el programa `numero_enteros.py` que solicite al usuario un número entero y genere la lista de todos los números enteros desde el 0 hasta el número indicado por el usuario. 

Advertencia este programa podría colapsar tu sistema operativo.

In [20]:
cantidad = int(input("Dame el número"))

numeros = []

for i in range(cantidad):
    numeros.append(i)

print(numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
cantidad = int(input("Dame la cantidad"))

print([i for i in range(cantidad)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
print([i for i in range(int(input("Dame la cantidad")))])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149]

## Ejemplo 6

Funciones

Las funciones son porciones de código que se pueden llamar para hacer uso de su codigo

Algunas que ya hemos utilizado, las funciones se llaman usando su nombre y a veces parámetros

In [24]:
print("Hola Mundo")
input()

Hola Mundo

'Hola'

Para definirlas usamos def

In [25]:
def hola_mundo():
    print("Hola Mundo")

Para llamarlas, lo hacemos por su nombre

In [26]:
hola_mundo()

Hola Mundo

Las funciones pueden tener parámetros

In [27]:
def saludo(persona):
    print("Hola {}".format(persona))

saludo("Luis")
saludo("Bedu")
saludo("Mundo")

Hola Luis
Hola Bedu
Hola Mundo

Las funciones pueden devolver algun dato

In [28]:
def area_rectangulo(base, altura):
    area = base * altura
    return area

b = 5
h = 3
area = area_rectangulo(b, h)

## Reto 5

Realiza un programa que calcule el minimo común múltiplo utilizando el algoritmo descrito en la siguiente página

Nota: A veces hay formas de obtener para las computadoras haciéndo muchos cálculos que realizando procedimientos creados para seres humanos por lo que éste problema se puede resolver de forma simple siguiendo los siguientes pasos considerando que a y b son nuestros dos números:

1. Si a / b es división exacta, entonces la función regresa el valor de a como el mcm
2. Si b / a es división exacta, entonces la función regresa el valor de b como el mcm
3. Toma el valor mayor entre a y b y lo llamaremos d
4. Ahora se incrementa el valor de d en 1
5. Si d / a y d / b sin divisiones exactas entonces la funsión regresa el valor de d como el mcm
6. Si no entonces repite desde el paso 4

Elije la opción que sea mejor para tí!

In [36]:
def mcm(a: int, b: int):
    """
    Función para calcular el minimo común múltiplo
    
    ## Parameters
    a: Primero valor que recibira
    b: Segundo valor que recibira

    ## Return
    Regresara

    ## Examples

    >>> a = 5
    >>> b = 10

    >>> mcm(a,b)
    >>> 

    """

In [ ]:
mcm()