# Sesión 1

Creando un programa y ejecutando

In [2]:
print("Hola Mundo")

Hola Mundo

## Tipos de dato

* Numéricos
    * int: Números enteros
    * float: Números con punto flotante
    * complex: Números complejos

* Texto:
    * string

* Booleanos:
    * True
    * False

Tipos de datos numéricos

In [3]:
entero = 4
print( "El dato introducido contiene:", entero )
print( "Es de tipo:", type(entero) )

El dato introducido contiene: 4
Es de tipo: <class 'int'>

In [4]:
pi = 3.14159
print("El dato introducido contiene:", pi)
print("Es de tipo:", type(pi) )

El dato introducido contiene: 3.14159
Es de tipo: <class 'float'>

Cadenas de texto

In [5]:
mensaje = "Hola Mundo"
print("El dato introducido contiene:", mensaje)
print("Es de tipo:", type(mensaje) )

El dato introducido contiene: Hola Mundo
Es de tipo: <class 'str'>

Datos booleanos

In [6]:
verdadero = True
print("El dato introducido contiene:", verdadero)
print("Es de tipo:", type(verdadero) )

El dato introducido contiene: True
Es de tipo: <class 'bool'>

## Conversión de tipos de datos en Python

Se puede definir números como cadenas si se encierran en comillas

In [7]:
numero1 = "100"
numero2 = "3.14159"
print( type(numero1), type(numero1) )

<class 'str'> <class 'str'>

Para convertir a entero

In [8]:
entero = int(numero1)
print( type(entero) )

<class 'int'>

Para convertir a flotante

In [9]:
flotante = float(numero2)
print( type(flotante) )

<class 'float'>

También se puede convertir un número a cadena de texto

In [10]:
num = 300
cadena = str(num)
print(type(cadena))

<class 'str'>

Leyendo una cadena

In [12]:
nombre = input("Dame tu nombre: ")
print( nombre, type(nombre) )

Daniel <class 'str'>

## Reto-01

Crea el programa variables.py que realice lo siguiente:

1. Recibe dos numeros desde la consola
2. Convierte los números a variables enteras
3. Realiza la operación a = b+c con las variables enteras
4. Realiza la misma operación con las variables string
5. Imprime los resultados para ambas operaciones
6. ¿Hay Alguna diferencia?

Inserta número: 10

Inserta otro número: 20

Suma numérica 30

Concatenación 1020

In [15]:
num1 = int(input("Inserta número: "))
num2 = int(input("Inserta otro número: "))

suma = num1 + num2

print(f"Suma numérica {suma}")
print(f"Concatenación {str(num1) + str(num2)}")

Suma numérica 30
Concatenación 1020